#gallery,
#refsheet {
    background-color: var(--color-water);
    padding: var(--gutter);
    gap: var(--gutter);
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gallery img,
#gallery figure{
    max-width: min(100%, 50vh);
}

#refsheet img,
#refsheet figure{
    width: min(100%, calc(var(--max-viewport-width-refsheet) - 2*var(--gutter)));
}

figcaption{
    text-align: left;
}

figcaption time{ float: right; color:#FFFA }
