.wave {
    height: 2em;
    background:
        radial-gradient(1.49em at 50% 2.10em,var(--color-water) 99%,#0000 101%) calc(50% - 2em) 0/4em 100%,
        radial-gradient(1.49em at 50% -1.1em,#0000 99%,var(--color-water) 101%) 50% 1em/4em 100% repeat-x;
}

#profile{
    text-align: center;
    padding: 1rem;
    padding-top: 1.5rem;
}

.sky{
    background: linear-gradient(var(--color-sky-top), var(--color-sky-bottom));
}

#qr {
    image-rendering: pixelated;
}

#profile ul{
    width: 8em;
    margin: auto;
    text-align: left;
}

#profile ul a{
    text-decoration: none;
}

#profile svg{
    fill: var(--color-water);
}

#profile li{
    list-style-type: none;
    /*border: 1px solid #FFF;*/
    color: var(--color-water);
    background-color: #FFF;
    border-radius: 50vh;
    padding: 0.125em 0.25em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#profile img{
    border-radius:50%;
    width: min(100%, calc(var(--max-viewport-width-pfp) - 2*var(--gutter)));
    margin-bottom: var(--gutter);
}

