@font-face{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url(nunito.woff2) format(woff2);
    font-display: block;
}

*,*::before,*::after{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

:root{
    --gutter: 1rem;
    --color-sky-top:    #3d6fb8;
    --color-sky-bottom: #a5c9e9;
    --color-water:      #3d8fb8;
    --max-viewport-width-pfp: 320px;
    --max-viewport-width-refsheet: 800px;
    font-family: Nunito;
    font-feature-settings:"onum";
    font-size: clamp(1rem, 5vw, 1.5rem);
    color: #FFF;
}

img{
    border: 4px solid #FFF;
    background-color: #FFF;
    border-radius: 4px;
    height:auto;
}

svg:not(.wave){
    fill: #FFF;
    width:  1em;
    height: 0.75em;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.wave{
    fill: var(--color-water);
    display:block;
}

footer{
    text-align: center;
    background: var(--color-water);
}

small{
    color: #FFF8;
    font-feature-settings:"tnum";
    font-size: max(16px, 0.75rem);
}

.sky{
    background: linear-gradient(var(--color-sky-top), var(--color-sky-bottom));
}

h1,h2{
    font-size: 1.5rem;
}

/* minimize layout shifts due to font loading */
h1, h2, p, #profile li a {
    line-height: 1.5em;
}

#profile{
    text-align: center;
    padding: 1rem;
    padding-top: 1.5rem;
}

#profile ul{
    width: 8em;
    margin: auto;
    text-align: left;
}

#profile svg{
    fill: var(--color-water);
}

#profile li{
    list-style-type: none;
}

#profile li a{
    text-decoration: none;
    display: block;
    background-color: #FFF;
    color: var(--color-water);
    border-radius: 50vh;
    padding: 0.125em 0.25em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#profile img{
    border-radius:50%;
    background-color: #daccaf;
    width: min(100%, calc(var(--max-viewport-width-pfp) - 2*var(--gutter)));
    margin-bottom: var(--gutter);
}

#gallery,
#refsheet {
    background-color: var(--color-water);
    padding: var(--gutter);
    gap: var(--gutter);
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gallery img,
#gallery figure{
    max-width: min(100%, 50vh);
}

#refsheet img,
#refsheet figure{
    width: min(100%, calc(var(--max-viewport-width-refsheet) - 2*var(--gutter)));
}

figcaption{
    text-align: left;
}

figcaption time{ float: right; color:#FFFA }
