@font-face{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url(nunito.woff2) format(woff2);
    font-display: block;
}

*,*::before,*::after{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

:root{
    --gutter: 1rem;
    --color-sky-top:    #3d6fb8;
    --color-sky-bottom: #a5c9e9;
    --color-water:      #3d8fb8;
    --max-viewport-width-pfp: 320px;
    --max-viewport-width-refsheet: 800px;
    font-family: Nunito;
    font-feature-settings:"onum";
    font-size: clamp(1rem, 5vw, 1.5rem);
    color: #FFF;
}

img{
    border: 4px solid #FFF;
    background-color: #FFF;
    border-radius: 4px;
    height:auto;
}

svg:not(.wave){
    fill: #FFF;
    width:  1em;
    height: 0.75em;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.wave{
    fill: var(--color-water);
    display:block;
}

footer{
    text-align: center;
    background: var(--color-water);
}

small{
    color: #FFF8;
    font-feature-settings:"tnum";
    font-size: max(16px, 0.75rem);
}

.sky{
    background: linear-gradient(var(--color-sky-top), var(--color-sky-bottom));
}
